
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body {
    background-color: #000;
    color: #eee;

}
.conteiner {
    display: flex;
    height: 100vh;

}
.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.nav-logo i {
    font-size: 28px;

}
.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-library i, .nav-library p {
    color: #8d948e98;
    font-size: 19px;
    cursor: pointer;
     
}
.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 17px;
    border-radius: 9px;

}
.nav-playlist button, .nav-podcast button{
    background-color: #fff;
    color: #000;
    border:none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 20px;
}
.nav-playlist p,.nav-podcast p {
    font-size: 13px;
}
.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
}
.nav-footer {
    margin-top: auto;
}
.nav-lang-button {
    background-color: transparent;
    border:1px solid #fff;
    color:#fff;
    padding: 8px 12px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 20px;
}
main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
}
.container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}
.botao {
    margin-left: 30px;
    cursor: pointer;
    color: #000;
    border-radius: 20px;
    border: none;
    padding: 12px 20px;
    font-weight: 800;

}
.search-bar {
    display:flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 22px;
    width: 300px;
    margin: auto;
}
.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}
.artists-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}
.artists-card, .albums-card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.artists-grid:hover, .albums-grid:hover {
    background-color: #282828;

}
.artists-card img, .albums-card img {
    width: 100%;
    max-width: 70%;
    border-radius: 50%;
    margin-bottom: 16px;

}
.artists-card h3, .albums-card h3 {
    font-size: 12px;

}
.artists-card p, .albums-card p {
    font-size: 10px;
    color: #b7b3b6;

}
.content {
    margin: 40px;
}
.content button {
    margin-bottom: 10px;
}
.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #AF2896, #509BF5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}
.banner h2 {
    font-size: 14px;
}
.banner p {
    font-size: 10px;
}
.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
}